ul.Pagination {
    display: flex;
    padding: 150px 0px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}


ul.Pagination li{
    list-style: none;
}


ul.Pagination li button{
  width: 40px;
  height: 40px;
  border-radius: 15px;
}


ul.Pagination li button {
    height: 50px;
    width: 50px;
    background-size: cover;
    background-color: transparent;
    border: 0;
    font-size: 16px;
    font-weight: bolder;
}

ul.Pagination li.active button,
ul.Pagination li button:hover {
    height: 65px;
    width: 65px;
    color: var(--white);
    font-weight: bolder;
    cursor: pointer;
    animation: rotateWorld 6s linear infinite;
}

@media screen and (max-width: 768px) {
    ul.Pagination {
        display: flex;
        padding: 80px 0px;
        gap: 20px;
        justify-content: center;
        align-items: center;
        max-width: 100%;
        flex-wrap: wrap;
    }
    
}

@keyframes rotateWorld {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
