ul.menu{
    display: flex;
    gap: 10px;
}

ul.menu li{
    list-style: none;
    color: var(--white);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.menu li.active{
    color: var(--yellow);
}

ul.menu li:hover{
    color: var(--yellow);
}

.col{
    width: 1px;
    height:30px;
    background-color: var(--yellow);
}

@media screen and (max-width: 768px){

    ul.menu{
        gap: 5px;
    }

    ul.menu li{ 
        font-size: 14px;
    }
}