ul.menu{
    display: flex;
    gap: 10px;
}

ul.menu li{
    list-style: none;
    color: var(--white);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

ul.menu li.active{
    color: var(--yellow);
}

ul.menu li:hover{
    color: var(--yellow);
}

.col{
    width: 1px;
    height:30px;
    background-color: var(--yellow);
}

