
*{
  padding: 0;
  margin: 0;
}

:root {
  --yellow: #FFF500;
  --black: #050816;
  --white: #FFFFFF;
  --red: #FF0000;
  --blue: #0000FF;
}

body{
  background-color: var(--black);
  padding: 20px 0;
}

.image__container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 20px;
  height: 150px;
}

.language__container {
  display: flex;
  gap: 10px;
  position: absolute;
  left: 90%;
  top: 2.5%;
}


.language__container img{
  width: 42px;
}

.language__container img:hover{
  cursor: pointer;
  opacity: 0.8;
}


.menu__container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 80px 0;
}

.card__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 20px;
  row-gap: 80px;
  padding: 0 130px;
}

.error__text{
  width: 100%;
  text-align: center;
  color: var(--yellow);
  font-size: 32px;
  margin: 10px 0;
}



@media (max-width: 576px) {
  .card__container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}